body {
    font-family: sans-serif;
    font-size: 100%;
    background-color: aliceblue;
    color: #1f2021;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #cac5c5;
    padding: 1em 5em 1em 5em;
}

h1 {
    margin: 0;
}

nav {
    text-align: center;
    margin: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}
nav ul li a {
    color: black;
}

nav a {
    text-decoration: none;
}

p {
    margin-top: 20px;
}

main {
    height: auto;    
    align-items: center;
    padding: 1em 5em 1em 5em;

}

main  .row1::after {
        content: "";
        display: table;
        clear: both;
}
main div  .column {
    float: left;
 
}
main div .left {
    float: left;
    /* padding: 10px; */
    width: 30%;
    border-right: 3px solid black;

}
main div .center {
    padding: 10px;
    width: 30%;
}
main div .right {
    float: right;
    padding: 10px;
    width: 30%;
    border-left: 3px solid black;

}

.columnLeftDesktop aside, .columnMiddleDesktop aside, .columnRightDesktop aside{
    font-size: 2em;
}

.columnLeftDesktop  {
    margin-top: 5em;
}
.row{
    display: flex;
    justify-content:space-around ;
    align-items: top;
    height: auto;    
    margin-top: .15em;
    flex-wrap: wrap;
    width: 100%;
}
figure{
    text-align: center;
    }

figure img{
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #ccc
}

.columnLeftDesktop,
.columnMiddleDesktop,
.columnRightDesktop{
    flex: 1;
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ccc */
}

footer {
    padding: 1em 5em 1em 5em;
    margin-top: auto;
    background-color: #cac5c5;
    display: flex;
    justify-content: space-between;
}

.location,
.phone,
.email {
    margin: 15px;
}


/*Begin Tablet*/

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    
    }
    header h1{
        font-size: 40px;
    }
    nav ul li {
        margin-right: 5px;
        padding: 1em;
        list-style-type: none;
        background-color: #dcdedf;
        border-radius: 1em;
        color: black; /* Set text color to black */
        transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transition on background color and text color */
        position: relative;
    }
    nav ul li:hover {
        background-color: #313334;
        color: white;
         /* Change text color to white on hover */
    }
    nav ul li:hover a{

        color: white;
    }
    main {
      
        height: auto;    
    
    }
    main .desktop {
      
        display: none;    
    }
    main  .row1::after {
        content: "";
        display: table;
        clear: both;
    }
    main div  .column {
        float: left;
    
    }
   
    main div  .center {
        /* padding: 10px; */
        width: 45%;
    }
    main div .right {
        float: right;
        padding: 10px;
        width: 45%;
        border-left: 3px solid black;

    }
    .columnLeftDesktop aside, .columnMiddleDesktop aside, .columnRightDesktop aside{
        font-size: 1.75em;
    }

    .location,
    .phone,
    .email {
        margin: 0;
    }
  
}
/*End Tablet*/

/* Begin Mobile */


@media screen and (max-width: 640px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header h1{
        font-size: 45px;
    }
    nav ul {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 30em;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 1em;
        list-style-type: none;
        background-color: #dcdedf;
        border-radius: 1em;
        color: black; /* Set text color to black */
        transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transition on background color and text color */
        position: relative;
    }

    nav ul li:hover {
        background-color: #313334;
        color: white;
         /* Change text color to white on hover */
    }
    nav ul li:hover a{

        color: white;
    }
    main {
        height: auto;    
    
    }
    main .desktop{
        display: none;
    }
    main .tablet{
        display: none;
    }
     main div  .center {
        /* padding: 10px; */
        width: 100%;
    }
    /* .row1 {
        color: red;
    } */
    .row{
        flex-direction: column;
    }
    .columnLeftDesktop, .columnMiddleDesktop, .columnRightDesktop{
        flex: none;
        width: 100%;
        box-sizing: border-box;
    }
    .columnLeftDesktop aside, .columnMiddleDesktop aside, .columnRightDesktop aside{
        font-size: 1.5em;
    }
  
   .columnRightDesktop figure img {
    width: 100%;
    height: auto;
   }

    .location,
    .phone,
    .email {
        margin: 0;
    }
    footer {
        padding: 1em 2em 1em 2em;
    
    }
}
/* End mobile */
